a{
    color:rgb(104, 139, 220)
}
p{
    color:rgba(188, 208, 240, 0.812);
    text-align:justify;
}

h1{
    background-color:rgb(66, 98, 147);
    text-align:center;
    
}
h2{
    background-color:rgba(51, 76, 133, 0.629);
    text-align:center;
}

body{
    background-color: rgb(0, 0, 0);   
    font-family:'Times New Roman', Times, serif;    
    width: 600px;     
    margin-left:auto;    
    margin-right:auto;
    padding-left: 30px;
    padding-right: 10px;     
}

h3 {
    background-color:rgba(32, 52, 97, 0.629);
    text-align:center;
}