a{
    color:rgb(193, 88, 88)
}
p{
    color:rgb(0, 0, 0)
}
h1{
    background-color:rgb(159, 41, 37);
    text-align:center;
    
}
h2{
    background-color:rgba(168, 27, 27, 0.585);
    text-align:center;
}
body{
    background-color: rgb(0, 0, 0);            
}