a{
    color:rgb(104, 139, 220)
}
p{
    color:rgb(0, 0, 0)
}

h1{
    background-color:rgb(66, 98, 147);
    text-align:center;
    
}
h2{
    background-color:rgba(51, 76, 133, 0.629);
    text-align:center;
}

body{
    background-color: rgb(0, 0, 0);            
}