a{
    color:rgb(193, 88, 88)
}
p{
    color:rgb(255, 105, 105)
}
h1{
    background-color:rgb(159, 41, 37);
    text-align:center;
    
}
h2{
    background-color:rgba(168, 27, 27, 0.585);
    text-align:center;
}
body{
    background-image: url("/2_web/image/Lewis\ copie.jpeg");
    background-size : cover;    
    width: fit-content;      
}