a{
    color:rgb(193, 88, 88)
}
p{
    background-color : rgba(0, 0, 0, 0.433);
    color:rgb(195, 48, 48)
}
h1{
    background-color:rgb(159, 41, 37);
    text-align:center;
    
}
h2{
    background-color:rgba(168, 27, 27, 0.585);
    text-align:center;
}
body{
    background-image: url("image/Lewiscopie.jpeg");
    background-size : cover;    
    width: 600px;     
    margin-left:auto;    
    margin-right:auto;
    padding-left: 30px;
    padding-right: 10px;
} 
