a{
    color:rgb(193, 88, 88)
}
p{
    color:rgb(0, 0, 0);
    text-align:justify;
}
h1{
    background-color:rgb(159, 41, 37);
    text-align:center;
    
}
h2{
    background-color:rgba(168, 27, 27, 0.585);
    text-align:center;
}
body{
    background-color: white;    
    font-family:'Times New Roman', Times, serif;      
    width: 600px;     
    margin-left:auto;    
    margin-right:auto;
    padding-left: 30px;
    padding-right: 10px;  
}