h1{
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 5px black solid;
}
body{
    margin-left:auto;    
    margin-right:auto;
    padding-left: 450px;
    padding-right: 400px;
}
a {
    color: black;
}

p{
    color:rgb(0, 0, 0);
    text-align:justify;
}

#oc {
    border: 10px black solid;
    border-radius: 10px;
}

#image {
    /* border: solid 3px green; */
    width: 1000px;
    margin-left:auto;    
    margin-right:auto;
    padding-left: auto;
    padding-right: auto;
}

