
a{
    color:black;
}

h1{
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 5px black solid;
}

h2{
    text-align: center; 
    background-color: rgb(199, 210, 230);
}

body{
    background-color:rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
}

#oc {
    border: 10px black solid;
    border-radius: 10px;
}

.image-avec-texte {
    display: flex; 
     align-items:center; 
}

.image-avec-texte img {
    margin-right: 15px; 
}
