a{
    color:rgb(80, 61, 223)
}
p{
    color:rgb(0, 0, 0);
    text-align:justify;
}
h1{
    background-color:rgb(58, 89, 180);
    text-align:center;
}
h2{
    background-color:rgba(72, 96, 199, 0.615);
    text-align:center;
}
body{
    background-color:rgb(255, 255, 255);           
    font-family:'Times New Roman', Times, serif; 
    width: 600px;     
    margin-left:auto;    
    margin-right:auto;
    padding-left: 30px;
    padding-right: 10px;
}